@using LegalexAccount.Utility.Extensions
@using LegalexAccount.Utility.Types
@model SpecialistViewModel
@{
    var emp = Model;

    ViewData["Title"] = "Профиль";
}


@if (User.IsInRole(UserRole.Director.ToString()))
{
    <div class="employee-card">
        <form id="creation-form" asp-controller="Specialist" asp-action="SaveEmployee" method="post" asp-antiforgery="true">
            <div class="sender-info">
                <p>Имя сотрудника:</p><input name="FirstName" asp-for=FirstName value="@emp.FirstName">
            </div>
            <div class="sender-info">
                <p>Фамилия сотрудника:</p><input name="LastName" asp-for=LastName value="@emp.LastName">
            </div>
            <div class="sender-info">
                <p class="sender-info">Отчество сотрудника:</p><input name="SurName" asp-for=SurName value="@emp.SurName">
            </div>
            <div class="sender-info">
                <p class="sender-info">Email:</p><span>@emp.Email</span>
            </div>
            <div class="sender-info">
                <p class="sender-info">Телефон сотрудника:</p><input name="PhoneNumber" asp-for=PhoneNumber value="@emp.PhoneNumber">
            </div>
            <div class="sender-info">
                <p class="sender-info">Роль сотрудника:</p><span>@emp.Role.GetDisplayName()</span>
            </div>
            <div class="sender-info">
                <p class="sender-info">Статус сотрудника:</p><span>@emp.Status.GetDisplayName()</span>
            </div>
            <input hidden name="Email" asp-for=Email value="@emp.Email">
            <input hidden name="Role" asp-for=Role value="@emp.Role">
            <input hidden name="Status" asp-for=Status value="@emp.Status">
        </form>
        <div class="button-container">
            <a class="back" asp-controller="Home" asp-action="Employees">Назад</a>
            <button class="next-step" type="submit" form="creation-form" disabled>Сохранить изменения</button>
        </div>
    </div>
}
else
{
    <div class="employee-card">
        <div>
            <p class="sender-info">Имя сотрудника:<span>@emp.FirstName</span></p>
            <p class="sender-info">Фамилия сотрудника:<span>@emp.LastName</span></p>
            <p class="sender-info">Отчество сотрудника:<span>@emp.SurName</span></p>
            <p class="sender-info">Email:<span>@emp.Email</span></p>
            <p class="sender-info">Телефон:<span>@emp.PhoneNumber</span></p>
            <p class="sender-info">Роль сотрудника:<span>@emp.Role.GetDisplayName()</span></p>
            <p class="sender-info">Статус сотрудника:<span>@emp.Status.GetDisplayName()</span></p>
        </div>
        <div class="button-container">
            <a class="back" asp-controller="Home" asp-action="Employees">Назад</a>
        </div>
    </div>
}

@if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
{
    <link rel="stylesheet" href="~/Styles/EmployeeCard.css">
}
else
{
    <link rel="stylesheet" href="~/Styles/EmployeeCard.min.css?v = @DateTime.Now.Ticks">
}

<script src="~/Scripts/SubmitValidationManager.js"></script>
