@using LegalexAccount.Utility.Extensions
@model OrderViewModel
@{
    var order = Model;

    ViewData["Title"] = "Заявка";
}

<div class="order-card">
    <h2>Заявка от @order.CreatedAt.ToString("dd/MM/yyyy")</h2>
    <p class="sender-info">Имя отправителя: <span>@order.Name</span></p>
    <p class="sender-info">Тип отправителя: <span>@order.ClientType.GetDisplayName()</span></p>
    <p class="sender-info">Тип запрашиваемой услуги: <span>@order.Service.GetDisplayName()</span></p>
    <p class="sender-info">Контакт отправителя: <span>@order.Contact</span></p>
    <p class="sender-info">Описание заказа: <span>@order.Description</span></p>
</div>

@if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
{
    <link rel="stylesheet" href="~/Styles/OrderCard.css">
}
else
{
    <link rel="stylesheet" href="~/Styles/OrderCard.min.css?v = @DateTime.Now.Ticks">
}
