@using LegalexAccount.Utility.Extensions
@using LegalexAccount.Utility.Types
@model List<SpecialistViewModel>
@{
    var specialists = Model;

    ViewData["Title"] = "Сотрудники";
    ViewData["Page"] = "Specialists";
}


<div class="employees">
    <div class="header-panel">
        <h2>Сотрудники</h2>
        <a class="create-case" asp-controller="Specialist" asp-action="CreateEmployee" hidden="@(!User.IsInRole(UserRole.Director.ToString()))">Добавить сотрудника</a>
    </div>
    @if (specialists.Count == 0)
    {
        <span>У вас нет сотрудников.</span>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>Роль</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Электронная почта</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var specialist in specialists)
                {
                    <tr class="with-management-panel" onclick="CallManagementPanel(this)">
                        <td>@specialist.Role.GetDisplayName()</td>
                        <td>@specialist.FirstName</td>
                        <td>@specialist.LastName</td>
                        <td>@specialist.Email</td>
                        <td>
                            @specialist.Status.GetDisplayName()
                            <a class="panel" asp-controller="Specialist" asp-action="EmployeeCard" asp-route-email="@specialist.Email"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <span class="hint">* Для редактирования или получения подробной информации нажмите на строку.</span>
    }
</div>

@if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
{
    <link rel="stylesheet" href="~/Styles/Employees.css">
}
else
{
    <link rel="stylesheet" href="~/Styles/Employees.min.css?v = @DateTime.Now.Ticks">
}

<script src="~/Scripts/EmployeeManagement.js"></script>
