@using LegalexAccount.Utility.Extensions
@model List<SpecialistViewModel>
@{
    var specialists = Model;

    ViewData["Title"] = "Сотрудники";
    ViewData["Page"] = "Employees";
}


<div class="employees">
    <h2>Сотрудники</h2>
    <table>
        <thead>
            <tr>
                <th>Роль</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Электронная почта</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var specialist in specialists)
            {
                <tr>
                    <td>@specialist.Role.GetDisplayName()</td>
                    <td>@specialist.FirstName</td>
                    <td>@specialist.LastName</td>
                    <td>@specialist.Email</td>
                    <td>@specialist.Status.GetDisplayName()</td>
                </tr>
            }
        </tbody>
    </table>
    <span class="hint">* Для редактирования или получения подробной информации нажмите на строку.</span>
</div>

@if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
{
    <link rel="stylesheet" href="~/Styles/Employees.css">
}
else
{
    <link rel="stylesheet" href="~/Styles/Employees.min.css?v = @DateTime.Now.Ticks">
}
