@using LegalexAccount.Utility.Extensions
@model List<OrderViewModel>
@{
    const int ordersNumber = 7;
    var orders = Model;
    var pagesRemainder = orders.Count % ordersNumber > 0 ? 1 : 0;
    var pagesNumber = orders.Count / ordersNumber + pagesRemainder;
    var currentPage = (int)ViewData["CurrentPage"];

    ViewData["Title"] = "Заявки";
    ViewData["Page"] = "Orders";
}


<div class="orders">
    <h2>Заявки</h2>
    <table>
        <thead>
            <tr>
                <th>Тип клиента</th>
                <th>Тип услуги</th>
                <th>Имя</th>
                <th>Контакт</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < ordersNumber; i++)
            {
                var orderIndex = ordersNumber * (currentPage - 1) + i;

                if (orderIndex == orders.Count)
                    break;

                var description = orders[orderIndex].Description.Length <= 20 ? orders[orderIndex].Description : orders[orderIndex].Description.Substring(0, 20) + "...";

                <tr class="with-management-panel" onclick="CallManagementPanel(this)">
                    <td>@orders[orderIndex].ClientType.GetDisplayName()</td>
                    <td>@orders[orderIndex].Service.GetDisplayName()</td>
                    <td>@orders[orderIndex].Name</td>
                    <td>@orders[orderIndex].Contact</td>
                    <td>
                        @description
                        <a class="panel" asp-controller="Home" asp-action="OrderCard"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (pagesNumber > 1)
    {
        <div class="pagination">

            @for (var i = 0; i < pagesNumber; i++)
            {
                <a class="@(currentPage == i + 1 ? "active" : "")" asp-controller="Home" asp-action="Index" asp-route-currentPage="@(i + 1)">@(i + 1)</a>
            }
        </div>
    }
    <span class="hint">* Для редактирования или получения подробной информации нажмите на строку.</span>
</div>

<link rel="stylesheet" href="~/Styles/Index.css">
<script src="~/Scripts/ManagementPanel.js"></script>
