@model ShortProfileViewModel
@{
    var page = ViewData["Page"]?.ToString();
}


<div class="functional-panel">
    <div style="width: 100%; height: 100%;">
        <div class="profile-icon">
            <img src="/images/profile.png" alt="profile" />
            <div class="user-name">@Model.FirstName @Model.LastName</div>
            <div class="user-email">@Model.Email</div>
        </div>
        <div class="button-container">
            <a class="@(page == "Orders" ? "button active" : "button")" asp-controller="Home" asp-action="Orders">Заявки</a>
            @* <a class="@(page == "Cases" ? "button active" : "button")" asp-controller="Home" asp-action="Cases">Дела</a> *@
            @* <a class="@(page == "Clients" ? "button active" : "button")" asp-controller="Home" asp-action="Clients">Клиенты</a> *@
            @* <a class="@(page == "Calendar" ? "button active" : "button")" asp-controller="Home" asp-action="Calendar">Календарь</a> *@
            @* <a class="@(page == "Specialists" ? "button active" : "button")" asp-controller="Home" asp-action="Employees">Сотрудники</a> *@
            @* <a class="@(page == "Chats" ? "button active" : "button")" asp-controller="Home" asp-action="Chats">Чаты</a> *@
        </div>
    </div>

    <div class="configuration-container">
        <a class="button exit-button" asp-controller="Account" asp-action="Logout">Выход</a>
        <a class="button configuration-button" asp-controller="Home" asp-action="EditProfile"></a>
    </div>
</div>

@if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
{
    <link rel="stylesheet" href="~/Styles/_FunctionalPanel.css">
}
else
{
    <link rel="stylesheet" href="~/Styles/_FunctionalPanel.min.css?v = @DateTime.Now.Ticks">
}
